<div class="col-md-2 sidenav">
    <div class="d-flex justify-content-center pt-3">
        <h2 style="color: white">Logo</h2>
    </div>
    <hr>
    <a href="{{ url_for('home.dashboard') }}"><h5 style="color: white">Dashboard</h5></a>
    <hr>
    <a href="{{ url_for('customers.customer_list') }}"><h5 style="color: white">Customers</h5></a>
    <hr>
    <a href="{{ url_for('products.product_list') }}"><h5 style="color: white">Products</h5></a>
    <hr>
    <a href="{{ url_for('orders.order_list') }}"><h5 style="color: white">Orders</h5></a>
    <br>
</div>