{% extends 'main.html' %}

{% block content %}
    <div class="row">
        <h3>Orders: {{ total_orders }}</h3>
        {% include 'inc/_messages.html' %}
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Product</th>
                    <th scope="col">Date Created</th>
                    <th>Update</th>
                    <th>Remove</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.id }}</th>
                        <td><a href="{{ url_for('customer_detail', id=order.customer_id) }}">{{ order.customer }}</a>
                        </td>
                        <td><a href="{{ url_for('product_detail', id=order.product_id) }}">{{ order.product }}</a></td>
                        <td>{{ order.date_created.strftime('%Y-%m-%d') }}</td>
                        <td>
                            <a href="{{ url_for('update_order', id=order.id) }}" class="btn btn-sm btn-warning"
                               type="button">
                                Update
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('delete_order', id=order.id) }}" type="button"
                               class="btn btn-sm btn-danger delete-order">
                                Cancel
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}