{% extends 'main.html' %}

{% block content %}
    <h3>Products: {{ total_products }}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Date Created</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.date_created }}</td>
                <td>
                    <a href="#"
                       class="btn btn-sm btn-info">
                        View
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}