{% extends 'main.html' %}

{% block content %}
    <h3>Products: {{ total_products }}</h3>
    {% include 'inc/_messages.html' %}
    <a class="btn btn-primary  btn-sm btn-block" href="{{ url_for('products.create_product') }}"
       id="createBtn">
        Create Product
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Date Created</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.date_created.strftime('%Y-%m-%d') }}</td>
                <td>
                    <a href="{{ url_for('products.product_detail', id=product.id) }}"
                       class="btn btn-sm btn-info">
                        View
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}