{% extends 'main.html' %}

{% block content %}
    <h3>Customers: {{ total_customers }}</h3>
    {% include 'inc/_messages.html' %}
    <a class="btn btn-primary  btn-sm btn-block" href="{{ url_for('customers.create_customer') }}" id="createBtn">
        Create Customer
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Orders</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <th scope="row">{{ customer.id }}</th>
                <td>{{ customer }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.orders }}</td>
                <td>
                    <a href="{{ url_for('customers.customer_detail', id=customer.id) }}"
                       class="btn btn-sm btn-info">
                        View
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}